<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Space Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B94C8B1C04F9CD00C2D44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B94CA31C04F9CE00C2D44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B94CAE1C04F9CE00C2D44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
